@font-face {
  font-family: "iconfont"; /* Project id 3736407 */
  src: url('iconfont.woff2?t=1666977139513') format('woff2'),
       url('iconfont.woff?t=1666977139513') format('woff'),
       url('iconfont.ttf?t=1666977139513') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e601";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-github:before {
  content: "\e600";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

